<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/styles2.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Login y Registro</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="register-form">
                <h1>Crear Cuenta</h1>
                <div class="social-icons">
                    <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
                </div>
                <input type="text" id="register-name" placeholder="Nombre" required>
                <input type="email" id="register-email" placeholder="Correo" required>
                <input type="password" id="register-password" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form id="login-form">
                <h1>Iniciar Sesión</h1>
                <div class="social-icons">
                    <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
                </div>
                <input type="email" id="login-email" placeholder="Correo" required>
                <input type="password" id="login-password" placeholder="Contraseña" required>
                <a href="#">Has olvidado la contraseña?</a>
                <button type="submit">Iniciar Sesión</button>
                <p id="error-message" class="error-message" style="display:none;">Correo o contraseña incorrectos.</p>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Agenda <br>Contactos</h1>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Agenda <br>Contactos</h1>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/src/scripts/script2.js"></script>
</body>
</html>